# {{ ansible_managed }}
# <file system> <mount point> <type> <options> <dump> <pass>

{% if mount_list is defined and mount_list is iterable %}
{% for m in mount_list %}
{% if m.state in "present,mounted,remounted" %}
{{ m.source }} {{ m.target }} {{ m.fstype }} {{ m.options | default(['defaults']) | join(',') }} {{ m.dump | default('0') }} {{ m.pass | default('0') }}
{% endif %}
{% endfor %}
{% endif %}
{% if mount_list_host is defined and mount_list_host is iterable %}
{% for m in mount_list_host %}
{% if m.state in "present,mounted,remounted" %}
{{ m.source }} {{ m.target }} {{ m.fstype }} {{ m.options | default(['defaults']) | join(',') }} {{ m.dump | default('0') }} {{ m.pass | default('0') }}
{% endif %}
{% endfor %}
{% endif %}
{% if mount_list_group is defined and mount_list_group is iterable %}
{% for m in mount_list_group %}
{% if m.state in "present,mounted,remounted" %}
{{ m.source }} {{ m.target }} {{ m.fstype }} {{ m.options | default(['defaults']) | join(',') }} {{ m.dump | default('0') }} {{ m.pass | default('0') }}
{% endif %}
{% endfor %}
{% endif %}
